<h3>Эта страница посвящена великим шахматным чемпионам.</h3>
<%= image_tag 'champions/Alex_Alexin.jpeg'%>
<%= image_tag "champions/Mikhail_Botvinnik.jpg"%>
<%= image_tag "champions/Vasiliy_Smyslov.jpg"%>
<br/>
