<h1>Sikorskiy VS Valuev</h1>
<div>
  <img class="white-bg-chess-piece" src="Chess/black/1.png">
  <img class="black-bg-chess-piece" src="Assets/black/2.png">
  <img class="white-bg-chess-piece" src="Assets/black/3.png">
  <img class="black-bg-chess-piece" src="Assets/black/4.png">
  <img class="white-bg-chess-piece" src="Assets/black/5.png">
  <img class="black-bg-chess-piece" src="Assets/black/3.png">
  <img class="white-bg-chess-piece" src="Assets/black/2.png">
  <img class="black-bg-chess-piece" src="Assets/black/1.png">
</div>
<div>
  <img class="black-bg-chess-piece" src="Assets/black/peshka.png">
  <img class="white-bg-chess-piece" src="Assets/black/peshka.png">
  <img class="black-bg-chess-piece" src="Assets/black/peshka.png">
  <img class="white-bg-chess-piece" src="Assets/black/peshka.png">
  <img class="black-bg-chess-piece" src="Assets/black/peshka.png">
  <img class="white-bg-chess-piece" src="Assets/black/peshka.png">
  <img class="black-bg-chess-piece" src="Assets/black/peshka.png">
  <img class="white-bg-chess-piece" src="Assets/black/peshka.png">
</div>
<div>
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
</div>
<div>
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
</div>
<div>
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
</div>
<div>
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
  <img class="black-bg-chess-piece">
  <img class="white-bg-chess-piece">
</div>
<div>
  <img class="white-bg-chess-piece" src="Assets/white/peshka.png">
  <img class="black-bg-chess-piece" src="Assets/white/peshka.png">
  <img class="white-bg-chess-piece" src="Assets/white/peshka.png">
  <img class="black-bg-chess-piece" src="Assets/white/peshka.png">
  <img class="white-bg-chess-piece" src="Assets/white/peshka.png">
  <img class="black-bg-chess-piece" src="Assets/white/peshka.png">
  <img class="white-bg-chess-piece" src="Assets/white/peshka.png">
  <img class="black-bg-chess-piece" src="Assets/white/peshka.png">
</div>
<div>
  <img class="black-bg-chess-piece" src="Assets/white/1.png">
  <img class="white-bg-chess-piece" src="Assets/white/2.png">
  <img class="black-bg-chess-piece" src="Assets/white/3.png">
  <img class="white-bg-chess-piece" src="Assets/white/4.png">
  <img class="black-bg-chess-piece" src="Assets/white/5.png">
  <img class="white-bg-chess-piece" src="Assets/white/3.png">
  <img class="black-bg-chess-piece" src="Assets/white/2.png">
  <img class="white-bg-chess-piece" src="Assets/white/1.png">
</div>