<% title("Home") %>
<h2>Привет! Добро пожаловать в игру <font size="6" color="#ff7f50" face="arial">ШАХМАТЫ</font>!</h2>
<br>
<h4> Список игроков:</h4>
<div class="player-list">
  <ol>
    <% @players.each do |p| %>

      <li>
        <%= link_to p.name + " " + p.lastname , p%>
      </li>

    <% end %>
  </ol>
</div>
<br>
<br>

<p class="Reg_Page_Font"> Регистрация нового пользователя </p>
<div class="player-list">
<p class="Reg_Page_Font">Введите своё имя: </p>
  <input>
<br>
  <p class="Reg_Page_Font">Введите свою фамилию: </p>
  <input>
</div>
