<h2>Привет! Добро пожаловать в игру <font size="6" color="#ff7f50" face="arial">ШАХМАТЫ</font>!</h2>
<br>
<br>
<p1>Введите пожалуйста своё имя: </p1>
<br>
<font size="6" color="aqua"><%= link_to 'Играть', game_path %></font>