<% title("Правила") %>
<h1>Правила игры в шахматы</h1>

<h4>Шахматная доска</h4>
<p class="Rules_Page_Font">На шахматной доске 8 горизонталей, которые обозначены латинскими буквами a, b, c, d, e, f, g, h, и 8 вертикалей обозначаются арабскими цифрами 1, 2, 3, 4, 5, 6, 7, 8, всего 64 клетки, из них 32 белые и 32 черные.</p>

<h4>Фигуры</h4>
<p class="Rules_Page_Font">Каждый игрок перед началом игры имеет 16 фигур: 8 пешек, 2 ладьи, 2 коня, 2 слона, короля и ферзя.</p>

<h4>Ход в шахматах</h4>
<p class="Rules_Page_Font">Кто играет белым цветом тот и первый ходит. Каждая из 6 фигур ходит по-своему. Фигуры не могут перепрыгивать через другие фигуры (за исключением коня) или вставать на поле, где уже стоит фигура того же цвета. Однако, они могут встать на место фигуры противника, которая считается взятой. Фигуры обычно размещают так, чтобы они угрожали фигурам противника взятием (встать на поле, где стояла взятая фигура, заменив её), защищали свои собственные фигуры, которым грозит взятие, или контролировали важные поля на доске.</p>

<h4>Как выиграть партию в шахматы</h4>
<p class="Rules_Page_Font">Цель игры - поставить мат королю соперника. Мат происходит, когда король попадает под шах и не может от него уйти. Защититься от шаха можно тремя способами: отступить на другое поле (не рокировкой!), закрыться от шаха другой фигурой или взять фигуру, напавшую на короля. Если король не может избежать мата - партия завершена. Обычно короля не берут и не снимают с доски, партия просто объявляется законченной.</p>

<h4>Удачной игры!</h4>