<h1>Правила игры в шахматы</h1>
  <h4>Шахматная доска</h4>
<p2>На шахматной доске 8 горизонталей, которые обозначены латинскими буквами a, b, c, d, e, f, g, h, и 8 вертикалей обозначаются арабскими цифрами 1, 2, 3, 4, 5, 6, 7, 8, всего 64 клетки, из них 32 белые и 32 черные.</p2>
<h4>Фигуры</h4>
<p2>Каждый игрок перед началом игры имеет 16 фигур: 8 пешек, 2 ладьи, 2 коня, 2 слона, короля и ферзя.</p2><!-- В CSS прописал "text-align: center", но почему-то не выравнивается текст по центру, не могу понять почему. -->
<h4>Ход в шахматах</h4>
<p2>Кто играет белым цветом тот и первый ходит. Ход – это передвижение своей фигуры на не занятое поле, если это не взятие. Взятие же – это передвижение своей фигуры на место фигуры соперника, при этом фигура соперника снимается с доски.</p2>