h1{
  text-align: center;
  border: 1px solid #B00100;
  padding: 10px;
}

h2{
  text-align: center;
  border: 1px solid #2E2F30;
  padding: 10px;
  font-size: 24pt;
}

h3{
  text-align: center;
  border: 1px solid #730E15;
  padding: 10px;
  font-size: 24pt;
}
h4 {
  text-align: center;
  font-size: 19pt;
}

p1{
  font-size: 16pt;
  text-align: center;
}

p2{
  text-align: center;
  border: 1px solid #2E2F30;
  padding: 10px;
  font-size: 10pt;
}

td {
   font-size: 50px;
  border: 2px solid black;
  height: 80px;
  width: 80px;
  text-align: center;
}

tr:nth-child(even) td:nth-child(even){
  background-color: lightcyan;
}

tr:nth-child(even) td:nth-child(odd){
  background-color: bisque;
}

tr:nth-child(odd) td:nth-child(odd){
  background-color: lightcyan;
}

tr:nth-child(odd) td:nth-child(even){
  background-color: bisque;
}

td:hover {
  border: 2px solid #B00100;
}