h1{
  text-align: center;
  border: 1px solid #B00100;
  padding: 10px;
}

h2{
  text-align: center;
  border: 1px solid #2E2F30;
  padding: 10px;
  font-size: 24pt;
}

h3{
  text-align: center;
  border: 1px solid #730E15;
  padding: 10px;
  font-size: 24pt;
}

p1{
  font-size: 17pt;
}

.black-bg-chess-piece {
  background: bisque;
  border: 1px solid black;
  height: 95px;
  width: 95px;
}

.white-bg-chess-piece {
  background: lightcyan;
  border: 1px solid black;
  height: 95px;
  width: 95px;
}



